@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';

$input-color: #c2185b;
$error-color: #f5253a;
$succes-color: #a2db46;
$link-color: #c2185b;

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

a {
  color: $link-color !important;
}

//SnackBar styling
.custom-error {
  background-color: $error-color !important;
  color: white !important;
}

.custom-ok {
  background-color: $succes-color !important;
  color: white;
}

.white-line-hor {
  background-color: white;
  height: 2px;
  width: 100%;
}

.white-background {
  background-color: white;
}

.empty-space {
  flex: 1 1 auto;
}

.content-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (min-width: 1000px)
{
  .content-container {
    width: 80%;
    padding: 25px;
  }
}
