.group-overview-container {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}

.groups-title {
  border-bottom: 1px solid white;
}

.group-cards {
    margin: 8px;    
}

.empty-space {
  flex: 1 1 auto;
}

.list-group {
  flex:1 1 100%;
  cursor: move;
}

.drop-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}