<div fxLayout="row" class="title-members">
  <span fxLayoutAlign="start center">
    <h3>Leden</h3>
  </span>
  <span class="empty-space"></span>
  <span fxLayoutAlign="start center">
    <mat-icon (click)="inviteUser()" class="click-button">add</mat-icon>
  </span>
</div>
<div class="white-line-hor"></div>
<div fxLayout="row">
  <mat-list role="list">
    <mat-list-item *ngFor="let member of members">
      <p>{{ member.userName }}</p>
      <mat-icon *ngIf="isActiveUser(member)" class="click-button" (click)="unsubscribeUser(member)">delete</mat-icon>
    </mat-list-item>
  </mat-list>
</div>
